@model HomeMV
@{
    ViewData["Title"] = "Index";

}
<ul>
    @foreach (var books in Model.Books)
{
    <li>@books.Name
    @foreach (var genre in books.BookGenres)
    {
        @genre.Genre.Name
    }
    </li>
    <hr/>
}
</ul>

<hr/>

<ul>
    @foreach (var student in Model.Students)
   {
       <li>
        @student.Name
        @student.Group.Name
       </li>  
       <hr/>
   }
</ul>
<hr/>
<ul>
    @foreach (var sa in Model.SocialAccounts)
   {
       <li>
        @sa.Facebook @sa.Instagram @sa.Vkontakt @sa.Twitter 
        @sa.User.Name
       </li>  
       <hr/>
   }
</ul>



