@model BookVM
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

 <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Book Table</h3>
                           <a class="btn btn-warning" asp-action="Create">Add Book</a>
                            <div class="table-responsive">
                                <table class="table text-wrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">No</th>
                                            <th class="border-top-0">Images</th>
                                            <th class="border-top-0">Name</th>
                                            <th class="border-top-0">Title</th>
                                            <th class="border-top-0">Price</th>
                                            <th class="border-top-0">Genres</th>
                                            <th class="border-top-0">Authors</th>
                                            <th class="border-top-0">Settings</th>  
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var book in Model.Books)
                                       {
                                           count++;
                                            <tr>
                                            <td>@count</td>
                                            <td>
                                            @foreach (var img in Model.BookImgs)
                                              {
                                                if (book.Id == img.BookId)
                                                {
                                                    <img width="50" height="50" src="~/img/@img.Img"/>
                                                }
                                                                                               
                                            }
                                            </td>
                                            
                                            <td>@book.Name</td>
                                            <td>@book.Title</td>
                                            <td>@book.Price</td>
                                            <td class="text-wrap">
                                            @foreach (var genre in Model.BookGenres)
                                            {
                                                if (book.Id == genre.BookId)
                                                {
                                                    @genre.Genre.Name<span>,</span>
                                                }
                                            }
                                            </td>
                                             <td class="text-wrap">
                                            @foreach (var genre in Model.BookAuthors)
                                            {
                                                if (book.Id == genre.BookId)
                                                {
                                                    @genre.Author.FullName<span>,</span>
                                                }
                                            }
                                            </td>

                                            <td class="text-nowrap">

                                                <a  class="mx-2 btn btn-secondary " asp-action="update" asp-route-id="@book.Id"><i  class="fas fa-database"></i></a>
                                                <a class="mx-2 btn btn-primary " asp-action="detail" asp-route-id="@book.Id"><i class="fas fa-info-circle"></i></a>
                                                <a class="mx-2 btn btn-danger " asp-action="delete" asp-route-id="@book.Id"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                       }
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

